.autoSlider_main_container {
  position: relative;
  padding-bottom: 2%;
  margin-top: 7rem;
}


.auto_Slider_Heading {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 4%;
  margin-top: 3%;
}

.box_Shadow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -2rem;
}

.image_wrapper img {
  height: 60px;
}

.image_wrapper2 img {
  height: 80px;
  margin-top: -18px;
}

.image_smartdata img{
  height: 90px;
}
