.Main_Div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Trial_Box{
   width: 80%;
   margin-top: 7rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   gap: 1.5rem;
}

.Trial_Box h1{
    font-size: 38px;
    font-weight: bold;
}

.Trial_Box >p{
    text-align: center;
    font-size: 1.1rem;
}

.Trial_Box p{
  color: rgb(87, 82, 82);
}

.Trial_Advantages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),    /* Start transparent at top left */
      rgba(0, 0, 0, 1)     /* End black at top right */
    ) 1;
    border-image-source: linear-gradient(
        to left,             /* Bottom border gradient: left to right */
        rgba(0, 0, 0, 1),     /* Bottom left corner black */
        rgba(0, 0, 0, 0)      /* Bottom right corner transparent */
      );
    border-image-slice: 1; /* Ensure the gradient applies evenly */
}

.Trial_Advantages_Divs{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.Trial_Advantages_Divs >h2{
  font-weight: bold;
  font-size: 1rem;
}

.Trial_Advantages_Divs >p{
    margin-top: 20px;
    text-align: center;
   font-size: 0.9rem;
}

.fade-line {
    width: 3px; 
    height: 200px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    margin: 20px;
}
  
  /* .Trial_btn button{
    background-color: #E25A12;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 30rem;
    height:50px;
    font-size: 1rem;
  } */

  .Trial_btn span{
    margin-left: 1rem;
  }

  .Trial_btn button {
  color: #E25A12;
  padding-left: 20px;
  padding-right: 20px;
  width: 30rem;
  height:40px;
  font-size: 1rem;
  margin-top: 2.5rem;
  background-image: linear-gradient(to right, #6dbae0 -10%, transparent 50%);
  background-size: 0% 100%;
  background-position: 0% 100%;
  transition: background-size 0.5s ease-in-out;
}

.Trial_btn button:hover {
  background-color: #E25A12;
  color: white;
  background-size: 100% 100%;
  background-position: 100% 100%;
}

.Trial_btn button:active {
  background-image: linear-gradient(to right, #9b9fa1 50%, transparent 50%);
  background-size: 100% 100%;
  background-position: 100% 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
