.Role_Main_Div{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2rem;
    padding: 5rem;
    gap: 2rem;
}

.Heading{
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.Role_Div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #eff1f5;
}

.role{
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: white;
    border-radius: 10px;
    padding: 0.8rem;
}

.role p{
  background-color: #E8E8E8;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 3px;
}

.Role_Text{
      width: 70%;
      color: #4e4b4b;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
}

.Role_Text p{
    color: black;
}

.Role_Text span{
    color: black;
    font-weight: bold;
    margin-left: 0.2rem;
}


.role :nth-child(1){
    background-color: #18203D;
    color: white;
}

.Developer_Div{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 5rem;
}

.Developer_Div img{
    width: 20%;
}

.Developer_Div div{
    width: 70%;
}

.Developer_Div_Text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Developer_Div_Text p{
    color: rgb(43, 41, 41);
}

.Developer_Div_Text span{
    font-weight: bold;
}

.Developer_Div_Text :nth-child(3) span{
    color: #F16A23;;
}
