.Role_Container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Role_MainDiv h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    font-size: 38px;
    font-weight: bold;
}

.Role_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 2rem;
}

.Role_cards img{
    width: 50%;
}

.Role_cards :nth-child(3){
    background-color: #ffa60059;
    border-color: #E15A12;
}

.card{
    border: 2px solid #dae0e2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 8px;
    height: 8rem;
    width: 10rem;
    border-radius: 10px;
}

.Prob_Sol_Div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 2rem;
}

.Prob_Sol_Div1{
   display: flex;
   flex-direction: column;
   border: 1px solid #9b9fa1;
   border-radius: 10px;
   padding: 1rem;
}

.Prob_Sol_Div1 h2{
   font-weight: bolder;
   font-size: 1.3rem;
}

.Prob_Sol_Div1 p{
   font-size: 0.9rem;
   color: rgb(39, 38, 38);  
}

.Role_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Role_btn button{
    background-color: #2C426B;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 30rem;
    height:50px;
    font-size: 1rem;
    margin-top: 2.5rem;
  }

  .Role_btn span{
    margin-left: 1rem;
  }

