.Testimonial_main_Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.Heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Heading p{
  color: #2C426B;
  font-weight: bold;
  font-size: 2rem;
}


.Testimonial_marquee {
  margin-top: 2.5rem;
}


.Testimonial_marqueeGroup2 {
  display: flex;
  gap: 1rem;
  justify-content: center;

}

.Testimonial_Box img {
  width: 100px;
  margin-left: -7%;
  margin-bottom: -7%;
}

.Testimonial_Box {
  width: 23%;
  border: 1.5px solid rgb(204, 198, 198);
  padding: 1rem;
  border-radius: 25px;
  background-color: white;
}

.Testimonial_Box > h1 {
  font-size: 1.1rem;
  font-weight: 600;
}

.Testimonial_Description {
  margin-top: 3%;
  color: rgb(90, 86, 86);
}

.stars {
  color: gold;
}